/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .nav-item{
    padding: 0;
  }

  .header-btn{
    padding: 9px 27px;
  }

  .banner-part {
    padding: 20px 0px 55px;
    align-items: center;
  }

  .writting-part{
    padding: 0;
    text-align: left;
    padding: 13px !important;
  }

  .writting-part h1{
    font-size: 39px;
  }

  .writting-part p{
    text-align: justify;
  }

  .get-started-btn{
    padding: 14px 22px;
  }

  .headline {
    padding: 40px 0px;
  }

   .service-1 {
    background: #FAF9FF;
    text-align: center;
    padding: 7px 0px !important;
  }

  .Revolution{
    margin-top: 20px;
  }

  .revolution-part{
    align-items: center;
  }

  .first-part {
    padding: 60px 0 60px;
  }

  .first-part h2{
    font-size: 29px;
  }

  .first-part p{
    text-align: justify;
  }

  .second-part .img-fluid{
    padding: 0;
  }

  .first-part button{
    padding: 12px 18px;
  }

  .offer {
    margin-top: 20px;
    align-items: center;
  }

  .offer-img{
    padding: 0;
  }

  .revolution-part-2{
    align-items: center;
  }

  .first-one h1{
    padding: 15px 0;
  }

  .first-one p{
    margin-bottom: 0;
  }

  .review-section-header {
    padding: 40px 0px;
  }

  .Slider-section {
    width: 100%;
    padding: 40px 0px;
  }

  .Review-section{
    margin-top: 40px;
    padding-bottom: 48px;
  }

  .footer-btn {
    padding: 6px 4px;
    top: 8px;
    right: 40px;
  }


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .banner-part {
    padding: 40px 0px;
  }

  .navbar-expand-lg {
    padding: 0px 0px !important;
  }

  .writting-part h1 {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 12px;
  }

  .writting-part{
    padding: 36px 0 0 0 !important;
    text-align: center;
  }
  
  .writting-part p {
    padding: 0 10px 15px;
  }

  .headline {
    padding: 20px 0px;
  }

  .part-2 .col-md-4{
    text-align: center;
    margin-bottom: 20px;
  }

  .Revolution{
    margin-top: 40px;
  }

  .revolution-part{
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }

  .first-part {
    padding: 30px 0px 0px;
    text-align: center;
  }

  .second-part .img-fluid {
    padding: 20px 0 0 0px;
  }

  .first-part h2{
    font-size: 30px;
  }

  .first-part button {
    padding: 8px 13px;
  }

  .offer-img {
    padding: 20px 0px 0px;
  }

  .offer {
    margin-top: 0px;
    flex-direction: column-reverse;
  }

  .left-part{
    margin-top: 0;
  }

  .right-part {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .service-1 {
    background: #FAF9FF;
    padding: 21px 30px !important;
    margin: 10px 0;
  }

  .plan {
    width: 100%;
    margin-top: 30px;
  }

  .plan .col-md-4{
    margin-bottom: 40px;
  }

  .Review-section {
    width: 100%;
    background: #faf9ff;
    margin-top: 20px;
  }

  .review-section-header {
    padding: 30px 0px;
  }

  .review-section-header p{
    margin: 0;
  }

  .Review-section {
    padding-bottom: 20px;
  }

  .owl-theme .owl-dots, .owl-theme .owl-nav{
    margin-top: 20px;
  }

  .Slider-section {
    width: 100%;
    padding: 30px 0px;
  }

  .footer-sec {
    padding: 55px 0 0 0px;
    text-align: center;
  }

  footer h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .part-one ul {
    list-style-type: none;
    margin-bottom: 35px;
  }

  footer form input{
    width: 80% !important;
  }

  .footer-btn{
    padding: 8px 9px;
    right: 0;
  }

  .last-section{
    flex-direction: column-reverse;
  }

  .social{
    text-align: center !important;
    margin-top: 20px;
  }

  footer p {
    font-family: "Roboto",sans-serif;
    color: #797979;
    margin-bottom: 0;
    text-align: center;
  }

}